<a tabindex="0" href="#"
	class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all"
		id="menu">
	<span class="ui-icon ui-icon-triangle-1-s"></span>Menu Principal</a>
	<div id="menu-ipod" class="hidden">
		<ul>
			<li><a href="Admin/Register">Cadastros</a>
				<ul>
					<li><a href="Admin/Register/Departments">Departamentos</a></li>
					<li><a href="Admin/Register/Categories">Categorias</a></li>
					<li><a href="Admin/Register/Manufacturers">Fabricantes</a></li>
				</ul>
			</li>
			<li><a href="Admin/Products">Produtos</a>
				<ul>
					<li><a href="Admin/Products/Register">Cadastrar</a></li>
					<li><a href="Admin/Products/Searchs">Buscar</a></li>
					<li><a href="Admin/Products/Stock">Estoque</a></li>
					<li><a href="Admin/Products/Comments">Comentários</a></li>
					<li><a href="Admin/Products/BuyTogether">Compre Junto</a></li>
					<li><a href="Admin/Products/Import">Importar produtos</a></li>
				</ul>
			</li>
			<li><a href="Admin/Requests">Pedidos</a></li>
			<li><a href="Admin/Requests/Clients">Clientes</a>
				<ul>
					<li><a href="Admin/Requests/Clients/Search">Buscar</a></li>
					<li><a href="Admin/Requests/Clients/Register">Cadastrar</a></li>
				</ul>
			</li>
			<li><a href="Admin/Banners">Banners</a>
				<ul>
					<li><a href="Admin/Banners/Search">Buscar</a></li>
					<li><a href="Admin/Banners/Register">Cadastrar</a></li>
				</ul>
			</li>
			<li><a href="Admin/Newsletter">Newsletter</a>
				<ul>
					<li><a href="Admin/Newsletter/Send">Enviar</a></li>
					<li><a href="Admin/Newsletter/View">Ver cadastrados</a></li>
				</ul>
			</li>
			<li><a href="Admin/Configs">Configurações</a>
				<ul>
					<li><a href="Admin/Configs/General">Config. Gerais</a>
						<ul>
							<li><a href="Admin/Configs/General/Store">Config. Loja</a></li>
							<li><a href="Admin/Configs/General/Freight">Config. frete</a></li>
							<li><a href="Admin/Configs/General/Texts">Config. textos</a></li>
						</ul>
					</li>
					<li><a href="Admin/Configs/Finances">Config. Financeiras</a>
						<ul>
						<li><a href="Admin/Configs/Finances/Tickets">Config. boletos</a></li>
							<li><a href="Admin/Configs/Finances/Deposit">Config. depósito</a></li>
							<li><a href="Admin/Configs/Finances/PagueSeguro">Config. Pague Seguro</a></li>
							<li><a href="Admin/Configs/Finances/Banricompras">Config. Banricompras</a></li>
						</ul>
					</li>
				<li><a href="Admin/Configs/Admin">Administradores</a></li>
				</ul>
			</li>
		</ul>
	</div> <!-- Fim da div #menu-ipod -->