<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-BR" lang="pt-BR">

<head>
<title>Hit Centre of Language</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<base href="{>$url}" />
<link rel="stylesheet" type="text/css" href="{>$pathAdmin}css/theme.css" />
<link rel="stylesheet" type="text/css" href="{>$pathAdmin}css/style.css" />

<link rel="stylesheet" type="text/css" href="http://localhost/Orion//apps/hitcentre/view/Admin/Hitcentre/templates/css/Users/users.css" />
<style type="text/css" media="all">
h1 {color:#FFF;font-size:20pt;}
img {border:0;}
a img {border:0;}
a {font-size:14pt;}
</style>
</head>
<body>
<br>
<center><h1>Página não encontrada</h1></center>
<br /><br /><br /><br /><br /><br /><br /><br />
<center><a href="javascript:void(0)" onclick="history.back(-1)"><img src="{>$pathAdmin}img/logo.jpg" width="300" align="center" /></a></center>
<center><a href="javascript:void(0)" onclick="history.back(-1)">Voltar</a></center>
</body>
</html>

