<HTML>
<HEAD>
<TITLE>HotStrip Strip Frame</TITLE>
</HEAD>
<BODY BGCOLOR=000000 TEXT=RED>

<CENTER>
<APPLET CODE="ryHotStrip.class" WIDTH=300 HEIGHT=50>
<param name=BgColor value="000000">
<param name=TextColor value="FF0000">  
<param name=LightColor value="B8860B"> 
<param name=LockColor value="CC0000"> 
<param name=LineColor value="B8860B">
<param name=TypeColor value="228B22"> 
<param name=DisplayFont value="Dialog,plain,13">
<param name=TypeFont value="Helvetica,plain,9">  
<param name=Spacing value="28"> 
<param name=Sound value="yes"> 
<param name=OverSound value="10up.au">
<param name=ClickSound value="hotclick.au"> 
<param name=EntryCount value="3">
<param name=HighlightedEntry value="1"> 
<param name=Location value="top"> 
<param name=UnlockOnExit value="no">
<param name=TypeMessage value="yes"> 

<param name=Entry1 value="Página Inicial">
<param name=URL1 value="default5.htm">

<param name=Entry2 value="bla bla bla">
<param name=URL2 value="blablabla.htm">

<param name=Entry3 value="blablabla">
<param name=URL3 value="blablabla.htm">


</APPLET>


</CENTER>


<input type="button" name="voltar" value="Voltar" onclick="history.go(-1)">

</BODY>
</HTML>