<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-BR" lang="pt-BR">
<head>
<title>{$title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<base href="{$URL}" />
	
	<link rel="stylesheet" type="text/css" href="View/Admin/Default/templates/css/Style.css" media="all" />
	<link rel="stylesheet" type="text/css" href="View/Admin/Default/templates/css/fg.menu.css" media="all" />
	<link rel="stylesheet" type="text/css" href="View/Admin/Default/templates/css/theme/ui.all.css" media="all" />
	
	<script type="text/javascript" src="View/scriptaculo/jQuery/jquery.js"></script>
	<script type="text/javascript" src="View/scriptaculo/jQuery/jquery-ui.js"></script>
	<script type="text/javascript" src="View/scriptaculo/jQuery/jquery.easyAjax.js"></script>
	<script type="text/javascript" src="View/scriptaculo/jQuery/fg.menu.js"></script>
	<script type="text/javascript" src="View/scriptaculo/jQuery/jquery.layout.js"></script>
	<script type="text/javascript" src="View/scriptaculo/Admin/Admin.js"></script>

</head>
<body>

<div class="ui-layout-north">
	
</div>

<div class="ui-layout-west ui-layout-west-toggler-highlight">
	<div id="nav" style="z-index:0">
		{include file="includes/menu.html"}
	</div> <!-- Fim da div #nav -->
</div>

<div class="ui-layout-south">
	<br /><br /><br /><br /><br />
	<center>Powered by <strong><a href="http://www.eshopsolucoes.com.br">eshop-solucoes</a></strong></center>
</div>

<div class="ui-layout-east">
	
</div>

<div class="ui-layout-center">
	
</div>

</body>
</html>
