<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-BR" lang="pt-BR">
<head>
<title>{$title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<base href="{$URL}" />
	
	<link rel="stylesheet" type="text/css" href="loja_nova/View/Admin/Default/templates/css/Style.css" media="all" />
	<link rel="stylesheet" type="text/css" href="loja_nova/View/Admin/Default/templates/css/fg.menu.css" media="all" />
	<link rel="stylesheet" type="text/css" href="loja_nova/View/Admin/Default/templates/css/theme/ui.all.css" media="all" />
	
	<script type="text/javascript" src="loja_nova/View/scriptaculo/jQuery/jquery.js"></script>
	<script type="text/javascript" src="loja_nova/View/scriptaculo/jQuery/jquery-ui.js"></script>
	<script type="text/javascript" src="loja_nova/View/scriptaculo/jQuery/fg.menu.js"></script>
	<script type="text/javascript" src="loja_nova/View/scriptaculo/jQuery/jquery.layout.js"></script>
	<script type="text/javascript" src="loja_nova/View/scriptaculo/Admin/Index.js"></script>
	
	

</head>
<body>

<div class="ui-layout-north">
	
</div>

<div class="ui-layout-west ui-layout-west-toggler-highlight">
	<div id="nav" style="z-index:0">
		<a tabindex="0" href="#"
			class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all"
				id="menu">
			<span class="ui-icon ui-icon-triangle-1-s"></span>Menu Principal</a>
		<div id="menu-ipod" class="hidden">
			<ul>
				<li><a href="#">Cadastros</a>
					<ul>
						<li><a href="#">Departamentos</a></li>
						<li><a href="#">Categorias</a></li>
						<li><a href="#">Fabricantes</a></li>
					</ul>
				</li>
				<li><a href="#">Produtos</a>
					<ul>
						<li><a href="#">Cadastrar</a></li>
						<li><a href="#">Buscar</a></li>
						<li><a href="#">Estoque</a></li>
						<li><a href="#">Comentários</a></li>
						<li><a href="#">Compre Junto</a></li>
						<li><a href="#">Importar produtos</a></li>
					</ul>
				</li>
				<li><a href="#">Pedidos</a></li>
				<li><a href="#">Clientes</a>
					<ul>
						<li><a href="#">Buscar</a></li>
						<li><a href="#">Cadastrar</a></li>
					</ul>
				</li>
				<li><a href="#">Banners</a>
					<ul>
						<li><a href="#">Buscar</a></li>
						<li><a href="#">Cadastrar</a></li>
					</ul>
				</li>
				<li><a href="#">Newsletter</a>
					<ul>
						<li><a href="#">Enviar</a></li>
						<li><a href="#">Ver cadastrados</a></li>
					</ul>
				</li>
				<li><a href="#">Configurações</a>
					<ul>
						<li><a href="#">Config. Gerais</a></li>
						<li><a href="#">Config. Loja</a></li>
						<li><a href="#">Config. frete</a></li>
						<li><a href="#">Config. textos</a></li>
						<li><a href="#">Config. boletos</a></li>
						<li><a href="#">Config. depósito</a></li>
						<li><a href="#">Config. Pague Seguro</a></li>
						<li><a href="#">Config. Banricompras</a></li>
						<li><a href="#">Administradores</a></li>
					</ul>
				</li>
			</ul>		
		</div> <!-- Fim da div #menu-ipod -->
	</div> <!-- Fim da div #nav -->
</div>

<div class="ui-layout-south">
	
</div>

<div class="ui-layout-east">
	
</div>

<div class="ui-layout-center">
	
</div>

</body>
</html>
