/* ### ADD USERS FORMS ### */

.divAddUser {
	float:left;
}

.tableAddUser {
	width:350px;
}

.tableAddUser td {
	width:50px;
	border:none;
}

.tableAddUser td.label {
	width:100px;
}

.tableAddUser td.input {
	width:300px;
}

.clear {
	clear:both;
}

.input select {
	width:150px;
}

tr.seePerfil td {
	heigth: 300px;
}