#header {position:relative;top:8px;left:0;width:100%;margin:0 auto;height:90px;}
#header img {position:absolute; left:10px;}
span#titulo {	font-family:Helvetica, Arial, Tahoma, Verdana, sans-serif;
				font-size:28pt;
				position:relative;
				text-align:center;
				color:#F3F9FF;}
#login {	position:relative;
			top:120px; 
			width:350px;
			border:1px solid #ccc;
			margin-top:0;
			margin:0 auto;
			padding:0;}
#login td {border:none;}
#login td.label {text-align:right;}
#login h3 {	background:#FFF;
			border-bottom:1px solid #d9e6f0;
			color:#375b91;
			display:block;
			height:30px;
			padding:0;
			margin:0;
			width:100%;
			padding-top:7px;}
#footer{position:absolute; bottom:0;width:100%;}
#footer #styleswitcher {float:right;}