<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-BR" lang="pt-BR">
<head>
<title>asdasdas</title>
<link rel="stylesheet" type="text/css" href="css/DatePicker.css" />

<script type="text/javascript" src="http://localhost/hitcentre/View/scriptaculo/jQuery/jquery.js"></script>
<script type="text/javascript" src="http://localhost/hitcentre/View/scriptaculo/jQuery/date.js"></script>
<script type="text/javascript" src="http://localhost/hitcentre/View/scriptaculo/jQuery/jquery.datePicker.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#date').datePicker({ clickInput: true, createButton: false});
	});
</script>
</head>
<body>
<label for="date">Data:</label><input type="text" name="date" id="date" class="DatePicker" />
</body>
</html>
