#divAddGroup {
	float: left;
	width: 350px;
	border-right:2px solid #d9e6f0;
	border-bottom:1px solid #d9e6f0;
}

#divRoleResource {
	float: right;
	border-left:2px solid #d9e6f0;
	border-top:1px solid #d9e6f0;
	width: 320px;/*
	height: 300px;
	overflow-y: auto;*/
	padding-left: 10px;
}

table.none {
	margin:0 auto;
	border:0;
	width: 180px;
	text-align: center;
}

table.none td a {
	display: block;
}

table.permission {
	text-align: center;
}

#tbSeeGroups {
	margin:0 auto;
	width: 400px;
	text-align: center;
}