<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Documento sem t&iacute;tulo</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<FONT face=verdana color=white size=1>
<script language=JavaScript1.2>

q1="<a href='";q2="' title='";q3="'>";q4="</a>";q5="<div class=sp></div>";q6="</div>";q7="<div class='mh'>";q8="' class='mn' style='position: absolute;width:"
d=document;dm=d.getElementById?1:0;ie=d.all?1:0;i4=(d.all && !dm)?1:0;n4=d.layers?1:0
mn=new Array();ln=new Array();sn=new Array();sw=new Array();el= new Array();mel= new Array()


tp=3 //distância do topo
lf=3 //distância da esquerda
sp=1 //espaço entre os menus
hr=0 
oh=5 
ov=5 

//primeiro menu
mn[0]='*Maluquicesl';ln[0]='#0';sw[0]=100;sn[0]="" 
+q7+""+q6 
+q1+"br99.html"+q2+""+q3+"- Douglas 99"+q4 
+q1+"br00.html"+q2+""+q3+"- Vago 2000"+q4
+q1+"br01.html"+q2+""+q3+"- Vago 2001"+q4
+q1+"br02.html"+q2+""+q3+"- Vagol 2002"+q4
+q1+"br03.html"+q2+""+q3+"- Vago 2003"+q4
+q1+"g_br02.html"+q2+""+q3+"- Galeria de Doideras"+q4

// segundo menu
mn[1]='*Miss Paraná ';ln[1]='#';sw[1]=100;sn[1]=""
+q1+"pr00.html"+q2+""+q3+"- Miss Paraná 2000"+q4 
+q5
+q1+"pr02.html"+q2+""+q3+"- Miss Paraná 2002"+q4
+q5
+q1+"pr03.html"+q2+""+q3+"- Miss Paraná 2003"+q4 
+q1+"pr04.html"+q2+""+q3+"- Miss Paraná 2004"+q4 
+q1+"g_pr.html"+q2+""+q3+"- Galeria de Vencedoras"+q4

//terceiro menu
mn[2]='*Miss Estado de São Paulo';ln[2]='#';sw[2]=120;sn[2]=""
+q1+"sp03.html"+q2+""+q3+"- Miss Estado de São Paulo 2003"+q4 
+q1+"sp04.html"+q2+""+q3+"- Miss Estado de São Paulo 2004"+q4 

// quarto menu
mn[3]='*Miss Curitiba';ln[3]='#';sw[3]=120;sn[3]=""
+q1+"ctba00.html"+q2+""+q3+"- Miss Curitiba 2000"+q4 
+q1+"ctba01.html"+q2+""+q3+"- Miss Curitiba 2001"+q4
+q1+"ctba02.html"+q2+""+q3+"- Miss Curitiba 2002"+q4 
+q1+"ctba03.html"+q2+""+q3+"- Miss Curitiba 2003"+q4 
+q1+"ctba04.html"+q2+""+q3+"- Miss Curitiba 2004"+q4 
+q1+"g_ctba.html"+q2+""+q3+"- Galeria de vencedoras"+q4

//quinto menu
mn[4]='*Miss Araucária';ln[4]='#';sw[4]=160;sn[4]="" 
+q7+""+q6 
+q1+"araucaria03.html"+q2+""+q3+"- Miss Araucária & Miss Araucária Infantil 2003"+q4 

//sexto menu
mn[5]='*Princesinha & Rainha das Praias do Paraná';ln[5]='#';sw[5]=160;sn[5]="" 
+q7+""+q6 
+q1+"prpr01.html"+q2+""+q3+"- Princesinha & Rainha das Praias do Paraná 2001"+q4 
+q1+"prpr02.html"+q2+""+q3+"- Princesinha & Rainha das Praias do Paraná 2002"+q4 
+q1+"prpr03.html"+q2+""+q3+"- Princesinha & Rainha das Praias do Paraná 2003"+q4

//sétimo menu
mn[6]='*Princesinha & Rainha das Praias do Brasil'; ln [6]='#';sw[6]=120;sn[6]=""
+q7+""+q6 
+q1+"prbr02.html"+q2+""+q3+" - Princesinha & Rainha das Praias do Brasil 2002"+q4
+q1+"prbr03.html"+q2+""+q3+" - Princesinha & Rainha das Praias do Brasil 2003"+q4

// oitavo menu 
mn[7]='*Reina de las Playas de las Américas'; ln[7]='#';sw[7]=120;sn[7]=""
+q7+""+q6
+q1+"pr00.html"+q2+""+q3+" - Reina de las Playas de las Américas 2000  "+q4 
+q1 + "prbr03.html"+q2+""+q3+" - Reina de las Playas de las Américas 2003 "+ q4

// nono menu 
mn[8]='*Miss Infantil'; ln[8]='#';sw[8]=120;sn[8]=""
+q7+""+q6
+q1+"ctbainf.html"+q2+"Description"+q3+" - Miss Curitiba Infantil  "+q4 
+q1 + "prinf.html"+q2+"Descrition"+q3+" - Miss Paraná Infantil "+ q4
 +q1+"brinf.html"+q2+"Description"+q3+"- Miss Brasil Infantil "+q4 

//décimo menu 
mn[9]='*Miss Brasil Tur';ln[9]='#';sw[9]=120;sn[9]="" 
+q7+""+q6
+q1+"pet00.html"+q2+""+q3+"- Miss Brasil Tur 99"+q4 
+q1+"tur00.html"+q2+""+q3+"- Miss Brasil Tur 2000"+q4 
+q1+"tur01.html"+q2+""+q3+"- Miss Brasil Tur 2001"+q4 
+q1+"tur02.html"+q2+""+q3+"- Miss Brasil Tur 2002"+q4 
+q1+"tur03.html"+q2+""+q3+"- Miss Brasil Tur 2003"+q4

//décimo primeiro menu
 mn[10]='*Miss Petite Brasil';ln[10]='#',sw[10]=120;sn[10]=""
+q7+""+q6
+q1+"pet00.html"+q2+""+q3+"- Miss Petite Brasil 2000"+q4 
+q1+"pet01.html"+q2+""+q3+"- Miss Petite Brasil 2001"+q4 
+q1+"tur01.html"+q2+""+q3+"- Miss Petite Brasil 2002"+q4 
+q1+"pet03.html"+q2+""+q3+"- Miss Petite Brasil 2003"+q4 
+q1+"pet04.html"+q2+""+q3+"- Miss Petite Brasil 2004"+q4 
+q1+"g_pet.html"+q2+""+q3+"- Galeria de Vencedoras"+q4

//décimo segundo menu 
mn[11]='*Cinderela Brasil';ln[11]='#';sw[11]=120;sn[11]=""
+q7+""+q6
+q1+"cind01.html"+q2+""+q3+"- Cinderela Brasil 2001"+q4 
+q1+"cind02.html"+q2+""+q3+"- Cinderela Brasil 2002"+q4

//décimo terceiro menu 
mn[12]='* Manequim Infantil do Paraná';ln[12]='#';sw[12]=120;sn[12]="" 
+q7+""+q6
+q1+"man00.html"+q2+""+q3+"- Manequim Infantil do PR 2000"+q4 
+q1+"man01.html"+q2+""+q3+"- Manequim Infantil do PR 2001"+q4 
+q1+"man02.html"+q2+""+q3+"- Manequim Infantil do PR 2002"+q4 

//décimo quarto menu 
mn[13]='*Miss Nations & Little Miss Nations';ln[13]='#';sw[13]=120;sn[13]="" 
+q7+""+q6
+q1+"pr00.html"+q2+""+q3+"- Miss Nations 2000"+q4 
+q1+"na01.html"+q2+""+q3+"- Miss Nations 2001"+q4 
+q1+"na02.html"+q2+""+q3+"- Miss Nations 2002"+q4 
+q1+"na03.html"+q2+""+q3+"- Little Miss Nations 2002"+q4 
+q1+"nations03.html"+q2+""+q3+"- Miss Nations 2003"+q4
+q1+"lmn03.html"+q2+""+q3+"- Little Miss Nations 2003"+q4 
+q1+"g_na.html"+q2+""+q3+"- Vencedoras - Winners"+q4

//décimo quinto menu 
mn[14]='*International Queen of Beauty';ln[14]='#';sw[14]=120;sn[14]="" 
+q7+""+q6
+q1+"queen03.html"+q2+""+q3+"- Queen of Beauty 2003"+q4 

//décimo sexto menu 
mn[15]='*Rainha do Brasil';ln[15]='#';sw[15]=120;sn[15]="" 
+q7+""+q6
+q1+"rainhabr03.html"+q2+""+q3+"- Rainha do Brasil 2003"+q4 

//décimo sétimo menu 
mn[16]="* Brasileiras pelo Mundo"; ln[16]='#';sw[16]=120;sn[16]=""
+q7+""+q6
+q1+"mundo.html"+q2+""+q3+"- Brasileiras em Concursos Internacionais"+q4 
+q1+"br00_turquia.html"+q2+""+q3+"- Miss Globe 2000"+q4 
+q1+"br01_turquia.html"+q2+""+q3+"- Miss Globe 2001"+q4 
+q1+"priscila_turquia_globo2003.html"+q2+""+q3+"- Miss Globe 2003"+q4

//décimo oitavo menu
mn[17]='* Calendário';ln[17]='#';sw[17]=120,sn[17]=""
+q7+""+q6 
+q1+"2001.html"+q2+""+q3+"- Eventos em 2001"+q4 
+q1+"2002.html"+q2+""+q3+"- Eventos em 2002"+q4 
+q1+"2003.html"+q2+""+q3+"- Eventos em 2003"+q4 

//décimo nono menu 
mn[18]='* Contatos';ln[18]='#';sw[18]=120,sn[18]=""
+q7+""+q6 
+q1+"apres.html"+q2+""+q3+"- Carta de Apresentação"+q4 
+q1+"cadastro.html"+q2+""+q3+"- Cadastro para Jornalistas"+q4 
+q1+"enquete.html"+q2+""+q3+"- Preencha nossa enquete!"+q4 
+q1+"insc.html"+q2+""+q3+"- Inscrições para os Concursos"+q4 
+q1+"noticias.html"+q2+""+q3+"- Notícias"+q4

////menu 1
// mn[1]='menu 2';ln[1]='#';sw[1]=100;sn[1]="" // menu 2
// mn[2]='menu 3';ln[2]='#';sw[2]=100;sn[2]="" // menu 3

// quarto menu  mn[3]='menu 4';ln[3]='#';sw[3]=140;sn[3]=""
//+q1+"paginadois.html"+q2+"Description"+q3+"link 1"+q4 
//+q1+"paginadois.html"+q2+"Description"+q3+"link 2"+q4
//+q1+"paginadois.html"+q2+"Description"+q3+"link 3"+q4


// NÃO É NECESSÁRIO ALTERAR O CÓDIGO ABAIXO //
ma=mn.length;mw=0;for(i=0;i<ma;i++){if(sw[i]>mw)mw=sw[i]};d.write("<div id='ctrl' style='position:absolute;width:100%;height:100%;z-indez:90' onmouseover='hA()'></div>");ctr=gE('ctrl')
if(hr==1){sp+=(dm&&!ie)?4:0;for(i=0;i<ma;i++){d.write("<div id='main"+i+q8+sw[i]+";top:"+tp+";left:"+lf+q3+q1+ln[i]+"' onmouseover='hA();sE(el["+i+"]);sE(ctr)"+q3+mn[i]+q4+q6);mel[i]=gE("main"+i);d.write("<div id='sub"+i+q8+sw[i]+";top:"+(tp+gH(mel[i])-1)+";left:"+lf+q3+sn[i]+q6);el[i]=gE("sub"+i);lf+=(gW(mel[i])+sp)}}
else{for(i=0;i<ma;i++){d.write("<div id='main"+i+q8+mw+";top:"+tp+";left:"+lf+q3+q1+ln[i]+"' onmouseover='hA();sE(el["+i+"]);sE(ctr)"+q3+mn[i]+q4+q6);mel[i]=gE("main"+i);d.write("<div id='sub"+i+q8+sw[i]+";top:"+(tp+ov)+";left:"+(lf+mw-oh)+q3+sn[i]+q6);tp+=(gH(mel[i])+sp);el[i]=gE("sub"+i)}}
function hA(){for(i=0;i<ma;i++)hE(el[i]);hE(ctr)};function zA(){for(i=0;i<ma;i++){sZ(el[i],111);sZ(mel[i],100)}};function gE(e){if(dm){r=d.getElementById(e);return d.getElementById(e).style}if(i4)return d.all[e].style;if(n4)return d.layers[e]}
function hE(e){e.visibility="hidden"};function sE(e){e.visibility="visible"};function sZ(e,z){e.zIndex=z};function gH(e){h=parseInt(e.height||e.pixelHeight||r.offsetHeight);return h};function gW(e){w=parseInt(e.width||e.pixelWidth||r.offsetWidth);return w}
hA();zA();d.onclick=hA
</script>
</font>
</body>
</html>
